.map {
  height: 535px;
  width: 100%;
  background-color: white;
  padding: 0;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.leaflet-container {
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 10px;
}

.popup-flag img {
  width: 100%;
  border-radius: 5px;
}

.popup-flag {
  height: 100px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.popup-container {
  padding-left: 0;
}

.popup-country {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.popup-cases,
.popup-deaths,
.popup-recovered {
  font-size: 16px;
  margin-top: 3px;
  padding-bottom: 0;
}
