* {
  margin: 0;
  padding: 10px;
}
.app {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.header,
.statistics {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-around;
}

.rightside {
  display: flex;
  flex-direction: column;
}

.rightside .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chartTitle {
  padding-top: 10px !important;
}

.lineGraph {
  flex-grow: 1;
}

.leftside {
  flex: 0.9;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
@media (max-width: 360px) {
  .statistics {
    flex-direction: column;
  }
}
